<!DOCTYPE html>
<html>
<%- include('../components/head') -%>

<body>
  <%- include('../components/header') -%>
  </div>
  <main class="container">
    <div class="row">
      <p class="left grey-text grey-lighten-2">Dashboard</p>
    </div>
    <div class="row card-list">
      <% options.forEach(option => { %>
      <div class="card col l4 m6 s12 grey lighten-4">
        <div class="card-content">
          <span class="card-title"><%- option['title'] %></span>
          <p><%- option['description']%></p>
        </div>
        <div class="card-action">
          <a href="<%- option['link']%>">go</a>
        </div>
      </div>
      <% }); %>
    </div>
  </main>
  <%- include('../components/footer') -%>
</body>

</html>